# * Bot for Discord
# * Copyright (C) 2023 Irregular Unit
# * This software is licensed under Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
# * For more information, see README.md and LICENSE

version: '3.9'

services:
  postgresql:
    image: postgres
    restart: always
    volumes:
      - postgresql:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "6000:5432"
    networks:
      - bot

  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis:/data
    networks:
      - bot
    ports:
      - "6001:6379"

networks:
  bot:
    driver: bridge

volumes:
  postgresql:
  redis: