[tool.black]
line_length = 120
skip-string-normalization = true
force-exclude = ".+.env|.+.yml|.+.sql|.+.toml"

[tool.isort]
line_length = 120
profile = "black"
combine_as_imports = true
combine_star = true

[tool.pyright]
pythonVersion = "3.11"
typeCheckingMode = "strict"
reportMissingImports = true
reportMissingTypeStubs = true
reportShadowedImports = false  # suspicious detection from the typing_extensions module
reportUnusedImport = true
exclude = [
    "**/typings/**",
    "**/migration/**",
]
