# * Bot for Discord
# * Copyright (C) 2023 Irregular Unit
# * This software is licensed under Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
# * For more information, see README.md and LICENSE

[tool.black]
line-length = 120
skip-string-normalization = true
force-exclude = "LICENSE|.+.sql|.+.json|.+.md|.+.yml|.+.env|.+.txt"

[tool.isort]
profile = "black"
combine_as_imports = true
combine_star = true
line_length = 100

[tool.pyright]
pythonVersion = "3.11"
typeCheckingMode = "strict"
reportMissingImports = true
reportMissingTypeStubs = true
reportMissingModuleSource = true
reportUnusedImport = true
reportUnusedVariable = true
reportUnusedFunction = true
reportUnusedClass = true
reportUnusedMethod = true
reportUnusedProperty = true
reportUnusedParameter = true
